<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605650289038-ik4thb73c7t2o2hvn5lmau9snqk39ta4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605650289038-ik4thb73c7t2o2hvn5lmau9snqk39ta4</string>
	<key>API_KEY</key>
	<string>AIzaSyBeMnsqVDrFEcCVTW5DVlmMZGgUm_FVeZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>605650289038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocktailApp</string>
	<key>PROJECT_ID</key>
	<string>cocktailauth</string>
	<key>STORAGE_BUCKET</key>
	<string>cocktailauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605650289038:ios:415f7252928abda39524df</string>
</dict>
</plist>